/*SOCIAL MEDIA COLORS
https://www.lockedowndesign.com/social-media-colors/
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", "Helvetica", sans-serif;
  color: #222;
  letter-spacing: 0.1em; }

body {
  padding-top: 40px;
  position: relative; }

span.anchor {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  z-index: -1;
  top: -40px;
  left: 0;
  visibility: hidden; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important; }

.affix ~ .container-fluid {
  position: relative;
  top: 50px; }

.navbar-default {
  background-color: white;
  box-shadow: 3px 3px 13px RGBA(0, 0, 0, 0.2), -3px -3px 23px gray; }
  .navbar-default li a {
    color: black; }

.red {
  color: red; }

.nav a {
  color: blue; }

.red {
  color: red; }

h1,
h2,
h3,
h4,
.navbar-brand,
.navbar li {
  font-variant: small-caps;
  color: black; }

.navbar-nav > li > a {
  color: black; }

.img-shadow {
  box-shadow: 10px 10px 5px #898989; }

.row {
  padding: 1em 0;
  border-bottom: 1px solid white; }

#title-row {
  background-color: #DDEDF6; }

#title-name {
  font-size: 7rem;
  font-weight: bold; }

#title-role {
  font-size: 5rem; }

#title-group {
  text-align: center; }

#headshot img {
  width: 13%;
  margin: 0 auto;
  margin-top: 8rem;
  -moz-box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.9);
  animation: fadeIn 1s; }

#about-row + div {
  background-color: #BED2D4; }

.about-text {
  line-height: 2em;
  font-size: 1.2em;
  text-align: center; }

#portfolio-row + div {
  background-color: #E4EBE9; }
  #portfolio-row + div > div {
    opacity: 1;
    padding: 5px;
    box-sizing: border-box; }
    #portfolio-row + div > div:hover {
      opacity: 0.85; }

.section-title {
  text-transform: uppercase; }

#contact-row + div {
  background-color: #BED4CA; }
  #contact-row + div h5 {
    font-family: "Lato"; }
  #contact-row + div a {
    text-decoration: none;
    color: black;
    transition: color 0.28s; }
    #contact-row + div a:hover {
      color: #a35353; }

p {
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  font-size: 3em;
  letter-spacing: 0.2em; }
  p::first-letter {
    font-size: 2em; }

.portfolio-image-container {
  text-align: center;
  margin: 2em;
  border-radius: 50px;
  margin-top: -2px; }
  .portfolio-image-container img {
    margin: 0 auto;
    width: 100%;
    max-height: 295px; }

.portfolio-description {
  text-align: center; }
  .portfolio-description p {
    font-size: 1.5rem;
    letter-spacing: inherit;
    line-height: inherit;
    margin-top: -20px; }

.invisible {
  display: none; }

form * {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-style: bold;
  letter-spacing: normal; }

footer {
  background-color: #DDF6E3;
  padding-bottom: 1.5em; }
  footer h2 {
    color: #222; }
  footer .row {
    border-bottom: none; }

.well {
  border-radius: 25px 25px 25px 25px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-top: 2em; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#social-links a {
  display: inline; }
#social-links span {
  color: #222;
  transition: color 0.8s, transform 0.8s; }
  #social-links span:hover {
    transform: rotate(360deg); }

p.copy {
  font-size: 14px; }

#facebook span:hover {
  color: #3b5998; }

#twitter span:hover {
  color: #00b6f1; }

#youtube span:hover {
  color: #b31217; }

#linkedin span:hover {
  color: #007bb6; }

#github span:hover {
  color: #6e5494; }

/*# sourceMappingURL=Main.css.map */
